body{
    background-color: black;
}
img{
    margin-top: 20px;
    margin-left: 400px ;
    height: 400px;
    width: 700px;
    border: 5px solid yellow;
}
h1{
    text-align: center;
    color: whitesmoke;
}
p{
    text-align: center;
    color: whitesmoke
}